*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.main{
    position: relative;
}

.main_bon{
    width: 300px;
    height: 200px;
    background-color: white;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10px solid black;
}
.main_bon > div{
    margin: 5px;
}

.eye_left{
    width: 100px;
    height: 80px;
    border-radius: 60%;
    transform: rotate(-30deg);
    background-color: black;
}

.eye_right{
    width: 100px;
    height: 80px;
    border-radius: 60%;
    transform: rotate(30deg);
    background-color: black;
}

.left_hear{
    position: absolute;
    top: 5px;
    left: -15px;
    transform: rotate(45deg);
    z-index: -9
}

.left_hear_main{
    width: 100px;
    height: 30px;
    background-color: white;
}

.left_hear .left_hear_left_circle{
    background-color: white;
    width: 45px;
    height: 45px;
    border-radius: 25px;
    position: absolute;
    top: -20px;
    left: -10px;
}

.left_hear .left_hear_right_circle{
    background-color: white;
    width: 45px;
    height: 45px;
    border-radius: 25px;
    position: absolute;
    top: 5px;
    left: -12px;
}



/* right bon */

.right_hear{
    position: absolute;
    top: 10px;
    left: 230px;
    transform: rotate(135deg);
    z-index: -9
}

.right_hear_main{
    width: 100px;
    height: 30px;
    background-color: white;
}

.right_hear .right_hear_left_circle{
    background-color: white;
    width: 45px;
    height: 45px;
    border-radius: 25px;
    position: absolute;
    top: -20px;
    left: -10px;
}

.right_hear .right_hear_right_circle{
    background-color: white;
    width: 45px;
    height: 45px;
    border-radius: 25px;
    position: absolute;
    top: 5px;
    left: -12px;
}

/* bottom left */


.bottom_left_hear{
    position: absolute;
    top: 170px;
    left: -15px;
    transform: rotate(-45deg);
    z-index: -9
}

.bottom_left_hear_main{
    width: 100px;
    height: 30px;
    background-color: white;
}

.bottom_left_hear .bottom_left_hear_left_circle{
    background-color: white;
    width: 45px;
    height: 45px;
    border-radius: 25px;
    position: absolute;
    top: -20px;
    left: -10px;
}

.bottom_left_hear .bottom_left_hear_right_circle{
    background-color: white;
    width: 45px;
    height: 45px;
    border-radius: 25px;
    position: absolute;
    top: 5px;
    left: -12px;
}

/* bottom right */


.bottom_right_hear{
    position: absolute;
    top: 170px;
    left: 220px;
    transform: rotate(-135deg);
    z-index: -9
}

.bottom_right_hear_main{
    width: 100px;
    height: 30px;
    background-color: white;
}

.bottom_right_hear .bottom_right_hear_left_circle{
    background-color: white;
    width: 45px;
    height: 45px;
    border-radius: 25px;
    position: absolute;
    top: -20px;
    left: -10px;
}

.bottom_right_hear .bottom_right_hear_right_circle{
    background-color: white;
    width: 45px;
    height: 45px;
    border-radius: 25px;
    position: absolute;
    top: 5px;
    left: -12px;
}

/* teeth */

.teeth{
    display: flex;
    justify-content: center;
}

.teeth > div{
    width: 40px;
    height: 40px;
    background-color: white;
    border: 5px solid black;
}
